[bumpversion]
current_version = 0.8.1
commit = False
tag = False
allow_dirty = False

[bumpversion:file:main.py]
search = :version: {current_version}
replace = :version: {new_version}

[bumpversion:file:src/main_qt.py]
search = :version: {current_version}
replace = :version: {new_version}

[bumpversion:file:src/gui/main_window_qt.py]
search = APP_VERSION = "{current_version}"
replace = APP_VERSION = "{new_version}"

[bumpversion:file:docs/conf.py]
search = release = "{current_version}"
replace = release = "{new_version}"

[bumpversion:file:README.md]
search = Current release: {current_version}
replace = Current release: {new_version}

[bumpversion:file:docs/index.rst]
search = surfaces for version {current_version}.
replace = surfaces for version {new_version}.

[bumpversion:file:docs/overview.rst]
search = - Current release: {current_version}
replace = - Current release: {new_version}
